*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color-primary:#F1F5FF;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    font-family: "Archivo", sans-serif;
    background-color: var(--bg-color);
}

main{
    width: 100%;
    min-width: 180px;
    max-width: 1280px;
    margin: auto;
    padding: 20px 4px 40px;
    min-height: 100vh;
}
article{
    margin: 8px;
}

img{
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
span{
    background-color: var(--brand-color-dark);
    color: var(--text-color-primary);
    padding: 1px 2px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 4%;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(2, 6, 23, 0.25);
}
h2{
    margin: 8px 0;
    font-size: 12px;
    line-height: 1;
    color: var(--text-color-primary);
    max-height: 36px;
    overflow: hidden;
}
p{
    font-size: 10px;
    margin-bottom: 8px;
}

.capa_full{
    display: flex;
    flex-direction: column;
    position: relative;
    

    
}
.content{
    position: absolute;
    bottom: 0;
    padding: 20px 12px 0;
    z-index: 3;
    background: linear-gradient(to bottom,#02061700, #020617ff);
}



@media (min-width: 300px) {
    main{
        padding: 40px 12px 80px;
    }
    #grid_superior_direito{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:500px) {
    main{
        padding-inline: 24px;
    }
    
}
@media (min-width:700px) {
    main{
        padding-inline: 32px;
    }
    #grid_superior_direito{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width:880px) {
    #grid_superior_geral{
        display: flex;
    } 
    #grid_superior_direito{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } 
}