*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color-primary:#F1F5FF;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    font-family: "Archivo", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color-primary);
}
header{
    padding: 20px 32px;
    height: 72px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

header> :nth-child(3){
    margin: auto;
    color: var(--brand-color-dark);
}

header>img{
    width: 20px;
    height: 20px;
}
header>h1{
    margin: 0;
    text-transform: uppercase;
}

main{
    width: 100%;
    min-width: 180px;
    max-width: 1280px;
    margin: auto;
    padding: 20px 4px 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:30px;
}

img{
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
span{
    background-color: var(--brand-color-dark);
    color: var(--text-color-primary);
    padding: 1px 2px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 4%;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(2, 6, 23, 0.25);
    width:fit-content;
    height:fit-content;
}
h1,h2{
    font-size: 12px;
    line-height: 1;
    color: var(--text-color-primary);
    max-height: 24px;
    overflow: hidden;
    margin: 4px 0;
}
p{
    display: inline-block;
    font-size: 10px;
    padding-top: 10px;
    line-height: 1;
    overflow: hidden;

}
i{
    font-size: 12px;
    line-height: 1;
}
article{
    position: relative;
}
.absolute{
    position:absolute;
    top: 8px;
    left: 8px;
}

.capa_full{
    display: flex;
    flex-direction: column;
    position: relative;  
}
.content{
    position: absolute;
    bottom: 0;
    padding: 10px 6px 4px;
    z-index: 3;
    background: linear-gradient(to bottom,#02061700, #020617ff);
}

#grid_inferior_ia{
    display: grid;
    row-gap: 15px;
    img{
        max-width: 180px;
        max-height: 180px;
        object-fit: cover;
        margin: 0 auto;
    }

}
#grid_inferior_extra{
    display: grid;
    row-gap: 15px;

}

.left{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 8px;

}
.content_left>*{
    margin: 0;
}
.content_left{
    display:grid;

    p{
        height: 30px;
    }
}
#ads{
    padding: 5px;
}
.final_article{
    display: flex;
    gap: 8px;
    img{
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    .final_content{
        display: flex;
        flex-direction: column;
        h2{
            height: 24px;
        }
    }
}
#grid_medio_geral{
    margin-top: 15px;
    gap: 12px;
}
hr{
    display: block;
    border: none;
    border-top: 1px solid var(--stroke-color);
    margin: 6px 0;
}
.guia{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    padding: 0;
    i{
        display: flex;
        align-items: end;
    }
    /* background-color: red; */
}

@media (min-width: 300px) {
    main{
        padding: 40px 12px 80px;
    }
    #grid_superior_direito{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    h1{
        font-size: 16px;
        max-height: 48px;
    }
    span{
        font-size: 8px;
    }
    #grid_medio_geral{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:400px) {
    h1{
        font-size: 20px;
        max-height: 60px;
    }
    
    .content{
        padding-inline: 12px;
    }
    span{
        font-size: 10px;
        padding: 2px 4px;
    }
    #grid_medio_geral{
        grid-template-columns: repeat(2, 1fr);
    }
    #grid_inferior_ia{
        margin-bottom: 40px;
        img{
            height: 85px;
        }
        .content_left{
            max-height: 85px;
            
        }
    }
    .left{
        grid-template-columns: 3fr 1fr;
    }

}
@media (min-width:500px) {
    main{
        padding-inline: 24px;
    }
    h1{
        font-size: 24px;
        min-height: 72px;
        margin: 16px 0;
    }
    h2{
        margin:8px 0;
    }

    .content_left{

        h2{
            margin: 0;
            font-size: 16px;
            height: 19.2px;
            line-height: 1.2;
        }
        p{
            font-size: 12px;
            line-height: 1.25;
            height: 40px;
        }
    }
    #grid_final{
        display: grid;
        gap: 16px;
    }
    .final_article{
        img{
            min-height: 72px;
            min-width: 72px;
        }
    }
    .final_content{
        h2{
            margin: auto 0;
            font-size:16px;
            line-height: 1.5;
            min-height: 48px;
        }
    }
}
@media (min-width:600px) {
    span{
        padding: 4px 8px;   
    }
    .left{
        img{
            min-height: 120px;
            min-width: 120px; 
        }
    }
    p{
        font-size: 12px;
        line-height: 1.5;
        min-height: 70px;
        margin: auto;
        bottom: 0;
    }
}


@media (min-width:700px) {
    main{
        padding-inline: 32px;
    }
    #grid_superior_direito{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    h2{
        font-size:12px;
        min-height: 36px;
    }
    span{
        font-size: 8px;
    }
    .left{
        img{
            min-height: 140px;
            min-height: 140px;
        }
    }
    .content_left{
        min-height: 140px;
    }
}
@media (min-width:800px) {
    #grid_superior_geral{
        display: flex;
        gap: 16px;
    } 
    #grid_superior_direito{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #grid_medio_geral{
        grid-template-columns: repeat(4,1fr);
    }
    #grid_inferior_geral{
        display: grid;
        grid-template-columns: 6fr 4fr;
        gap: 32px;
    }
    #ads{
        padding: 0;
        margin: 0;
    }
    .guia{
        padding: 0;
        margin: 0;
    }
    i{
        font-size: 16px;
    }

    .left{
        gap: 16px;
        height: 140px;
        object-fit: cover;
    }
    #grid_inferior_ia{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }

    #grid_final{
        display: grid;
        grid-template-columns: 1fr;
    }
    #grid_inferior_extra{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        align-items: start;
        margin-bottom: 0;
        row-gap: 4px;

    }

}
