#diarias{
    display: flex;
    flex-direction: row;
    gap: 16px;
    min-width: 1216px;
    height: 416px;
}
#noticia_principal{
    width: 608px;
    /* border: 1px solid green; */
    background-image: linear-gradient(to bottom, #02061700, #020617ff);
}
#noticias_recentes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 592px;
}
.noticia_recente{
    background-image: linear-gradient(to bottom, #02061700, #020617ff);
}
.img_capa{
    width: 100%;
    display: block;
    position: relative;
    z-index: -3;
    /* background-image: linear-gradient(to bottom, #02061700, #020617ff); */
}
.info{
    /* border:1px solid green; */
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 208px;
    margin-top: -208px;
    padding: 72px 24px 24px;
    gap: 8px;
}
.tag{
    z-index: 3;
    width:fit-content;
    text-transform: uppercase;
}
.linha_fina,.linha_fina2{
    z-index: 3;

}
.info2{
    /* border:1px solid green; */
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 200px;
    margin-top: -200px;
    padding: 100px 12px 12px;
    gap: 8px;
}
.linha_fina2, .linha_fina3{
    max-height: 66px;
    overflow: hidden;
}
