*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --brand-color-light:#60A5FA;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary:#F1F5FF;
    --text-color-secondary:#CBD5E1;
    --font-family:"Archivo", sans-serif;
}
html{
    background-color: var(--bg-color);
}
body{
    margin: auto;
    color: var(--text-color-primary);
    max-width: 1280px;
    width: 100%;
}
.heading1{
    font: 800 24px/135% var(--font-family);
    color: var(--brand-color-light);
}
.heading2{
    font:800 16px/140% var(--font-family);
}
.heading3{
    font:800 14px/140% var(--font-family);
}
span,a {
    font:600 14px/145% var(--font-family); 
}
p{
    font:800 14px/160% var(--font-family);
}
.hover{
    color: var(--brand-color-light);
}
.tag{
    font: 500 10px/120% var(--font-family);
    background-color:var(--brand-color-dark);
    padding:4px 8px;
    border-radius: 4px;
}
.linha_fina{
    font: 800 24px/135% var(--font-family);
    color: var(--text-color-primary);
}
.linha_fina2{
    font:800 14px/140% var(--font-family);
    color: var(--text-color-primary);
}