#mais_lidas{
    display: flex;
    flex-direction: column;
    min-width: 1216px;
    gap: 24px;
    padding-bottom: 24px;
}

#mais_lidas_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    height: 32px;
}
#mais_lidas_span{
    font:600 14px/20px var(--font-family); 
}

#ver_tudo{
    display: flex;
    align-items: center;
    height: 20px;
}

svg{
    margin:2px 0 2px 4px;
    width: 20px;
    height: 20px;
}

#svgpath:hover{
    fill: #ffffff;
    padding: 2.75px 1.75px;
}

#noticias_mais_lidas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.noticia_lida{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.tag3{
    position: absolute;
    top: 8px;
    left: 8px;
}
.lnha_fina3{
    font:800 16px/140% var(--font-family);

}